@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: blue;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Red Hat Mono", monospace;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #030f27;
  color: #fff;
  padding: 20px;
}
.ham {
  background-color: #21618c;
  padding: 6px 10px;
  border-radius: 50%;
  margin: 0;
}
.brand-name {
  padding-left: 20px;
  padding-top: 5px;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 73px;
  background-color: #0c2150;
  padding-top: 20px;
}
.sidebar li a {
  display: block;
  color: rgb(212, 208, 208);
  padding: 8px 16px;
  text-decoration: none;
}
.sidebar li a:hover {
  background-color: #21618c;
}
.active {
  background-color: #21618c;
}

/* Main section */
.main-section {
  margin-left: 15%;
  padding: 16px;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 25px;
}
.summary-grid h3{
  font-size: 24px;
}
.box {
  padding: 20px;
}
#box-1{
  background-color: rgb(214, 153, 39);
}
#box-2{
  background-color: rgb(61, 145, 230);
}
#box-3{
  background-color: rgb(192, 176, 176);
}

/* table */
table{
  margin-top: 25px;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th {
  padding: 12px;
  text-align: left;
  background-color: #b4b4b4;
  color: white;
}
table a{
  padding: 5px 10px;
  background-color: #21618c;
  color: #fff;
  border: none;
}
table a:hover{
  cursor: pointer;
  background-color: #0c2150;
}

.go-back{
  padding: 5px 10px;
  background-color: #21618c;
  color: #fff;
  margin-bottom: 20px;
  border: none;
}
.customer-detail{
  margin-top: 20px;
}

.customer-detail span {
  font-size: 17px;
  font-weight: bold;
}
.form-section{
  padding-top: 30px;
}

input[type=number] {
  padding: 5px;
}
form button{
  padding: 5px;
}